<!-- Carousel -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner home">
    <div class="item active first-slide">
      <div class="carousel-caption">
          <h3>Math made sweet</h3>
      </div>
    </div>
    <div class="item second-slide">
      <div class="carousel-caption">
          <h3>Back To School <br/> Promo</h3>
					<%= link_to 'Book your session today', services_path, class: 'btn btn-primary sign-up-btn' %>
      </div>
    </div>
    <div class="item third-slide">
      <div class="carousel-caption">
          <h3>Free One Hour Tutoring Session</h3>
					<%= link_to 'Register Today', contact_path, class: 'btn btn-primary sign-up-btn' %>
      </div>
    </div>
  </div>
 
  <!-- Controls -->

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 

<!-- Content -->

<div class="container-fluid">

	<div class="pi-benefits col-md-12">
		<h1>Why <b>&#960;</b>?</h2>
		<div class="col-md-4">
			<h4>Qualified Tutors</h4>
			<img src="assets/brain-head.svg" alt="brain picture" class="benefit-images"/>
		</div>
		<div class="col-md-4">
			<h4>Personalized Tutoring</h4>
			<img src="assets/personalized.svg" alt=" personalized fit" class="benefit-images"/>
		</div>
		<div class="col-md-4">
			<h4>Study Skills</h4>
			<img src="assets/penpaper.svg" alt="pencil and paper image" class="benefit-images"/>
		</div>
	</div>

	<div class="testimonials col-md-12">
		<h2 >Testimonials</h2>
		<div class="testimonial col-md-7 col-md-offset-1">
			<blockquote>cats cats cats cats cats cats cats cats cats</blockquote>
			<div class="arrow"></div>
			<div class="test-dp"></div>
			<p>
			Lil Dug, Age 24
			</p>
		</div>
		<div class="testimonial col-md-7 col-md-offset-4">
			<blockquote>cats cats cats</blockquote>
			<div class="arrow"></div>
			<div class="test-dp"></div>
			<p>
			Name, Location
			</p>
		</div>
		<div class="testimonial col-md-7 col-md-offset-1">
			<blockquote>
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
			</blockquote>
			<div class="arrow"></div>
			<div class="test-dp"></div>
			<p>
			Name, Location
			</p>
		</div>
		<div class="testimonial col-md-7 col-md-offset-4">
			<blockquote>
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
			</blockquote>
			<div class="arrow"></div>
			<div class="test-dp"></div>
			<p>
			Name, Location
			</p>
		</div>
	</div>
	
	<div class="pricing col-md-12">
		<h2 class="pricing-header">Pricing</h2>
			<div class="pricing-container col-md-3 col-sm-6">
				<div class="header">
					Starter
				</div>
				<div class="price">
					<span>
						<sup class="currency">$</sup><span class="figure">45</span> <sup class="cent">00</sup> <sup class="frequency">hourly</sup>
					</span>
				</div>
			<div class="itemsWrapper">
				<ul class="items">
					<li class='item'><b>5 Hours</b></li>
					<li class="item"><b>Ideal for:</b> Exam/Test review</li>
					<li class="item"><a class="btn btn-primary">Sign Up</a></li>
				</ul>
			</div>
		</div>
		<div class="pricing-container col-md-3 col-sm-6">
		<div class="header">
			Basic
		</div>
			<div class="price">
				<span>
					<sup class="currency">$</sup><span class="figure">40</span> <sup class="cent">00</sup> <sup class="frequency">hourly</sup>
				</span>
			</div>
			<div class="itemsWrapper">
				<ul class="items">
					<li class='item'><b>10 Hours</b></li>
					<li class="item"><b>Occasional</b> 1hr/2weeks</li>
					<li class="item"><a class="btn btn-primary">Sign Up</a></li>
				</ul>
			</div>
		</div>
		<div class="pricing-container col-md-3 col-sm-6">
			<div class="header">
				Pro
			</div>
			<div class="price">
				<span>
					<sup class="currency">$</sup><span class="figure">35</span> <sup class="cent">00</sup> <sup class="frequency">hourly</sup>
				</span>
			</div>
			<div class="itemsWrapper">
				<ul class="items">
					<li class='item'><b>20 Hours</b></li>
					<li class="item"><b>Consistent</b> 1hr/week</li>	
					<li class="item"><a class="btn btn-primary">Sign Up</a></li>
				</ul>
			</div>
		</div>
		<div class="pricing-container col-md-3 col-sm-6">
			<div class="header">
				Premium
			</div>
			<div class="price">
				<span>
					<sup class="currency">$</sup><span class="figure">30</span> <sup class="cent">00</sup> <sup class="frequency">hourly</sup>
				</span>
			</div>
			<div class="itemsWrapper">
				<ul class="items">
					<li class='item'><b>40 Hours</b></li>
					<li class="item"><b>Comprehensive</b> 2hr/week</li>	
					<li class="item"><a class="btn btn-primary">Sign Up</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="try-today col-md-12">		
		<h2>
		Not sure if Pi is right for you?<br/>
		Try a <span>free 1 hour session</span>
		</h2>
		<%= link_to 'Register Today', contact_path, class: 'btn btn-primary sign-up-btn' %>
	</div>
</div>


