<% content_for :title do %>Services<% end %>

<div class="full-bg services-pg">
<div class="container">
	<h1> FAQs</h1>
<li>
	How to get the most out of a tutoring session?
	<ul>
		Talk to your tutor let them know what you want to cover or what you are preparing for. Attempt your homework or study before your next appointment so you will have any questions prepared which will minimize down time during the session. Have all required materials ready for when the tutor arrives.
	</ul>
</li>

<li>What subjects do you tutor?<ul>We have qualified tutors for all high school subjects, it just so happens that the highest demand is for math and science tutors.</ul></li>
<li>What grade levels do you tutor?
<ul>Many  of our students are in high school and we also tutor for IB/ AP and University/ College students, please inquire for rates and more information.</ul></li>
<li>Why do you charge more than some other tutoring services?
<ul>Our rates are priced to be competitive and ensure we can hire quality tutors to meet the needs of any student. Purchasing bulk options are cheaper because this guarantees a tutor more regular hours and a more consistent income. There will be rates that we simply cannot offer, we will only stand for 1 on 1 tutoring provided by an outstanding tutor.</ul></li>
<li>Why in home tutoring?
<ul>The biggest reasons our customers choose us, is because of the convenience of choosing a schedule for when a student wants to get tutored. Our tutors come well equipped with a wealth of free online resources for students to use immediately and on the student’s time.</ul></li>
<li>How are Easy as Pi tutors special?
<ul>Having a PhD, is an amazing accomplishment, but doesn't always mean they are capable of teaching. The hallmark of a good tutor is their ability to identify the needs of a student and having an understanding of how to structure short and long term goals to eventually get the student to academic independence. We ensure that every tutor has truly mastered and understood their subject areas, but also that they are able to nurture students to their full potential.</ul></li>
<li>Can I pay as I go?
<ul>To ensure that we can provide quality tutoring we believe that setting up a regular (bi-weekly, weekly or twice a week) tutoring is most beneficial to the student. It is better to spend time spread out preparing as opposed to cramming at the last minute. Once we are sure a student is at the level where they will may only require infrequent or on demand tutoring we will discuss future options.</ul></li>
</div>
</div>
