.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	background-color: white;
}

.navbar-brand {
	padding: 0;
	height: initial;
}

.alert {
	margin-top: 20px;
}
// Mobile

.navbar-toggle {
	border: 1px solid black;
}

.navbar-collapse {
	margin-top: 5px;
}

.icon-bar {
	border: 1px solid black;
}

//End of mobile

.navbar .container-fluid { 
	padding: 5px 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
}

.navbar-right {
	margin-top: 10px;
}

#eap-logo {
	height: 50px;
}

.nav > li > a {
	color: rgb(37, 41, 50);
}

.nav > li > a:hover {
	text-decoration: underline;
}

//Shrinking nav
nav.navbar.shrink {
	min-height: 35px;
	box-shadow: 0px 1px 10px #454545;
}

nav.shrink a {
	font-size: 16px;
}

.shrink .navbar-right {
	margin-top: 0px;
}

.shrink #eap-logo {
	height: 50px;
}

.carousel.slide {
	margin-top: 60px;
}
.carousel-inner.home {
	min-height: 400px;
	height: 65vh;
}

.carousel-inner div {
	height: 100%;
}
//Delete pictures from asset or resize picturess
.item.first-slide {
	background: url('background-1.svg') no-repeat scroll 50% 50% / cover;
}
.item.second-slide {
	background: url('banner-b2s.svg') no-repeat scroll 50% 40% / cover;
}

.second-slide .carousel-caption h3, .third-slide .carousel-caption h3 {
	bottom: 35%;
	text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.75);
	text-transform: capitalize;
	font-weight: 900;
	letter-spacing: 5px;
	font-size: 3.5rem;
}

.sign-up-btn {
	position: relative;
	top: 75%;
	font-size: 1.3rem;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	background: #00C06E;
	border: 0;
	transition: all 0.2s;
}

.sign-up-btn:hover, .sign-up-btn:focus {
	border: 0;
	background: #007140;
}

.item.third-slide {
	background: url('background-2.svg') no-repeat scroll 100% 100% / cover;
}

.carousel-caption  h3{
	font-family: 'Montserrat';
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.container-fluid {
	padding: 0 0 30px 0;
}

.container {
	margin-top: 65px;
	min-height: 700px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 30px;
}

.pi-benefits {
	padding: 30px 10px;
	background-color: #252932;
	color: #FFF;
	
	h1 {
		text-align: center;
		margin-bottom: 30px;
	}

	.col-md-4 {
		text-align: center;
		margin-bottom: 30px;
	}

	p {
		margin-top: 30px;
	}
}


.benefit-images {
	height: 100px;
	margin-top: 15px;
}

.testimonials {
	text-align: center;
	padding-top: 30px;
	background-color: #F56F6C;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.testimonials h2 {
	margin-bottom: 20px;
	font-family: Montserrat;
	font-weight: 900;
	color: #191C21;
}

.testimonial {	
	color: #FFF;
}

.testimonial blockquote {
	margin: 10px 10px 0;
	background: #252932;
	padding: 20px 60px;
	position: relative;
	border: none;
	border-radius: 8px;
	font-style: italic;
	color: white;
}

.testimonial blockquote:before, .testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	font-size: 80px;
	line-height: 1;
	color: #DEDEDE;
	font-style: normal;
}

.testimonial blockquote:before {
	top: 0;
	left: 10px;
}

.testimonial blockquote:after {
	content: "\201D";
	right: 10px;
	bottom: -.5em;
}

.testimonial .arrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #252932;
	margin: 0 0 0 50px;
}

.testimonial p {
	margin: 8px 0 0 20px;
	text-align: left;
}

.test-dp {
	height: 80px;
	width: 80px;
	margin-left: 5%;
	margin-top: 15px;
	background: url('https://thedisneydivadotcom.files.wordpress.com/2013/12/dug-from-up.jpg?w=225') no-repeat center center / cover;;
	border-radius: 50%;
}

.testimonial.col-md-7 {
	margin-top: 15px;
}

// Pricing



.pricing-header {
	text-align: center;
}

.pricing h2 {
	margin-bottom: 30px;
}

.pricing-container {
//  width: 300px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
}
.pricing-container .header {
  background: #2F2F2F;
  color: white;
  padding: 25px;
  font-size: 2.5em;
  font-weight: 200;
  border-radius: 5px 5px 0 0;
}
.pricing-container .price {
  background: #66D2AC;
  background: linear-gradient(10deg, rgb(230, 148, 138) 30%, rgb(252, 106, 106) 80%);
  color: white;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
}
.pricing-container .price .figure {
  font-weight: 800;
  font-size: 1.2em;
  margin: 0 2px;
}
.pricing-container .price .cent {
  text-decoration: underline;
}
.pricing-container .price .frequency {
  color: #F2F2F2;
  text-shadow: none;
}
.pricing-container .itemsWrapper {
  border: 1px solid #E6E6E6;
  border-top: none;
  border-radius: 0 0 2px 2px;
  background: white;
  box-shadow: inset 14px 0 white, inset 15px 0 #f2f2f2, inset -14px 0 white, inset -15px 0 #f2f2f2;
}
.pricing-container .itemsWrapper .items {
  list-style: none;
  padding: 15px;
  margin: 0;
}
.pricing-container .itemsWrapper .item {
  padding: 7px;
  text-transform: capitalize;
}

.try-today {
	margin-top: 30px;
	margin-bottom: -20px;
	background: url("eap-trial.png") scroll no-repeat 30% 87% / cover;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	flex-flow: row wrap;
	text-align: center;
}

.try-today h2 {
	font-size: 3.5rem;
	text-shadow: 1px 1px 10px grey;	
	flex: 1 100%;
	font-weight: 300;
	line-height: 1.3;
	span {
		font-weight: 500;
	}
}

.try-today .sign-up-btn {
	top: 0;
	padding: 15px 20px; 
}

.itemsWrapper .btn.btn-primary {
	background-color: #FA6D6D;
	padding: 10px 25px;
	font-weight: 700;
	transition: 0.5s all ease;
	border-color: white;
}
.itemsWrapper .btn.btn-primary:hover {
	color: #FA6D6D;
	background-color: #FFF;
	border-color: #FA6D6D;
}

.pi-benefits::after, .testimonials::after {
	content: "";
	bottom: -30px;
	position: absolute;
	border-top: 30px solid #252932;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	z-index: 2;
	right: 6%;
	left: auto;
}

.testimonials::after {
	left: 6%;
	right: auto;
	border-top: 30px solid #F56F6C;
}

footer {
  width: 100%;
  display: inline-block;
  background-color: #252932;
	margin: -10px 0;
}
footer .copyright {
  width: 50%;
  float: left;
}
  
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.8em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 3px;
	margin: 0;
}
  
footer .social {
	padding-right: 5%;
  width: 30%;
  float: right;
}
  
footer .social a {
	width:25%;
	font-size: 1.2em;
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.linked {
  background-color: #1E83AE;
}

.face {
  background-color: #3D5B94;
}

.tweet {
  background-color: #3DACDD;
}

.g-logo {
	background-color: #DD4B39;
}

#ig-icon {	
	height: 17px;
}

input[type="checkbox"], input[type="radio"] {
	margin: 5px 10px 0;
}

.form-horizontal .form-group {
	margin-left: 15px;
	margin-right: 15px;
}

//Tutor application

#new_tutor h4 {
	margin-top: 20px;
}

.terms-label {
	color: red
}

.terms-box:checked + .terms-label {
	color: green;
}



// Responsive 

@media (max-width: 600px) {

	

	footer .social {
    width: 100%;
		padding-left: 0;
  }

	footer .social a {
		width: 25%;
		line-height: 40px;
	}
	
	footer .copyright p {
    text-align: center;
    padding: 0;
  }
	
	footer .copyright {
    width: 100%;
  }
	
	footer .social {	
		padding-right: 0;
	}

}

@media (min-width: 768px) {


	#eap-logo {
		height: 80px;
	}

	.shrink #eap-logo {
		height: 55px;
	}

	.container {
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.carousel.slide {
		margin-top: 90px;
	}

	.carousel-caption  h3{
		font-size: 2.5em;
	}
	
	.second-slide .carousel-caption h3, .third-slide .carousel-caption h3 {
		font-size: 3.5em;
	}
	
	.pi-benefits::after, .testimonials::after {
		bottom: -50px;
		border-top: 50px solid #252932;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
	}

	.testimonials::after {
		border-top: 50px solid #F56F6C;
	}

	.sign-up-btn {
		padding: 20px;
		font-size: 1em;
	}

	.pi-benefits .col-md-4 {
		margin-bottom: 20px;
	}

	.benefit-images {
		height: 120px;
	}

	footer .social a {
		background-color: #191C21;
	}

	// Footer nav

	#linked {
		color: #1E83AE;
	}

	.linked:hover {
		background-color: #1E83AE;
		&#linked {
			color: white;
		}
	}

	#fb {
		color: #3D5894;
	}

	.face:hover {
		background-color: #3D5B94;
		&#fb {
			color: white;
		}
	}

	#tweet {	
		color: #3DACDD;
	}

	.tweet:hover {
		background-color: #3DACDD;
		&#tweet {
			color: white
		}
	}
	
	#g-plus {
		color: #DD4B39;
	}

	.g-logo:hover {
		background-color: #DD4B39;
		&#g-plus {
			color: white;
		}
	}
	
	.dropdown-menu > li > a {
		line-height: 2;
	}
	
	.try-today h2 {
		font-size: 3.5em;
	}
}


@media (min-width: 1200px) {
	
	.container {
		 width: 1000px;
	}
	
}

