<footer>

	<div class="copyright">
    <p>&copy 2015 - EasyAsPi</p>
  </div>
  <div class="social">
    <a href="#" class="face" id="fb">f</a>
    <a href="#" class="tweet" id="tweet">t</a>
    <a href="#" class="linked" id="linked">in</a>
	  <a href="#" class="g-logo" id="g-plus">g+</a>
  </div>
	
</footer>
